* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto, sans-serif;
	background-color: white;
}


a {
	color: blue;
}


.container {
	width: 1000px;
	margin: 0 auto;
}

.nav {
	background-color: lightgray;
	color: black;
	padding: 20px;
	font-family: Roboto;
	display: flex;
	justify-content: space-between;
}

.Search-box {
	margin: 0 100px;
	padding: 5px 10px;
	font-size: 20px;
}

.btn {
	border: 2px solid black;
	font-size: 16px;
	padding: 5px 7px;
	cursor: pointer;
	box-shadow: 4px 4px black;
}

.Login {
	background-color: blue;
	color: white;
}

.row {
	display: flex;
}

.col {
	flex: 2;
}


.definition, .def-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 2px solid black;
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
	
}


.def-text {
	flex: 1;
	margin-left: 10px;
	font-size: 16px;
}

.col-2 {
	flex: 1;
	margin-left: 30px;
}


.left {
	flex: 1;
	text-align: center;
}


.left p {
	margin: 10px;
	font-size: 16px;
}

.like {
	background-color: orange;
}


.box {
	display: flex;
	background-color: white;
	margin-top: 20px;
	padding: 15px;
	border: 2px solid black;
	width: 300px;

}


.box h2 {
	font-size: 20px;

}

.add {
	background-color: green;
	padding: 2px 3px;
	margin-top: 10px;
	
}